[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
arrow = "*"
duckdb = "*"
pyyaml = "*"
pretty-errors = "*"
buenavista = "*"
pyarrow = "*"
lxml = "*"

[dev-packages]
gitpython = "*"

[requires]
python_version = "3.12"
